﻿@using Admins.Traitements.Generic.Admins.Users
@using Admins.Traitements.Generic.Html
@using Admins.Traitements.Generic.Util
<!DOCTYPE html>
<html lang="en-US">
@{
    ViewBag.Title = "2.4.0";
    var user = (Utilisateur) Session[ConstName.USER_SESS];
    var menus = Champs.BuildMenus(Request[Input.MenuId], user.Levels);
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admins - @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <link rel="stylesheet" href="/Content/Bowers/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/Bowers/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/Bowers/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/Content/Bowers/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/Content/Bowers/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/Content/Plugins/iCheck/all.css">
    <link rel="stylesheet" href="/Content/Bowers/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="/Content/Plugins/timepicker/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="/Content/Bowers/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/Content/Admins/Css/AdminLTE.css">
    <link rel="stylesheet" href="/Content/Admins/Css/Skins/_all-skins.min.css">
    <link rel="stylesheet" href="/Content/Css/Giant.css">
    <script src="/Content/Bowers/jquery/dist/jquery.min.js"></script>
    <script src="/Content/Bowers/jquery-ui/jquery-ui.min.js"></script>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/Content/External/google-fonts.css">
</head>
<body class="hold-transition skin-blue fixed sidebar-mini-expand-feature">
<div class="wrapper">

<header class="main-header">
    <a href="/" class="logo">
        <span class="logo-mini">menu</span>
        <span class="logo-lg">ADMINS</span>
    </a>

    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            @{
                Html.RenderPartial("Pages/Generic/Menu/_NavBarCustomMenu");
            }
        </div>
    </nav>
</header>

<aside class="main-sidebar">
    @{ Html.RenderPartial("Pages/Generic/Menu/_Menu", menus); }
</aside>

<div class="content-wrapper">
    @*Section Bread Crumb*@
    @Champs.BuildBreadCrumb(Request[Input.MenuId])
    @*End Section*@
    <section class="content">
        @RenderPage("../Shared/Pages/Generic/Collapse/_SpinLoading.cshtml")
        @RenderBody()
    </section>
</div>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.2
    </div>
    <p>&copy; @DateTime.Now.Year - Admins Application</p>
</footer>

@{
    Html.RenderPartial("Pages/Generic/Menu/_ControlSidebar");
}

</div>

<script src="/Content/Bowers/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Content/Bowers/select2/dist/js/select2.full.min.js"></script>
<script src="/Content/Plugins/input-mask/jquery.inputmask.js"></script>
<script src="/Content/Plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="/Content/Plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script src="/Content/Bowers/moment/min/moment.min.js"></script>
<script src="/Content/Bowers/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/Content/Bowers/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/Content/Bowers/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script src="/Content/Plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="/Content/Bowers/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/Content/Plugins/iCheck/icheck.min.js"></script>
<script src="/Content/Bowers/fastclick/lib/fastclick.js"></script>
<script src="/Content/Admins/Js/adminlte.min.js"></script>
<script src="/Scripts/notify.js"></script>
<script src="/Scripts/spin.js"></script>
<script src="/Scripts/JsReady.js"></script>
<script src="/Scripts/Traitements.js"></script>
<script>

</script>
</body>

</html>