﻿<!DOCTYPE html>
<html lang="en-US">
@{
    ViewBag.Title = "2.4.0";
    var user = (Utilisateur) Session[ConstName.USER_SESS];
    //var menus = Champs.BuildMenus(Request[Input.MenuId], user.Levels);
    var menus = Champs.BuildMenus(Request[Input.MenuId], user.Levels, Server.MapPath("/"));
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admins - @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/Content/Bowers/pace/pace.min.css">
    <link rel="stylesheet" href="/Content/Bowers/animate/animate.min.css">
    <link rel="stylesheet" href="/Content/Bowers/jAlert/jquery.alerts.min.css">
    <link rel="stylesheet" href="/Content/Bowers/prettycheckbox/pretty-checkbox.min.css">
    <link rel="stylesheet" href="/Content/Bowers/dycms/css/dycms.css">
    

    <link rel="stylesheet" href="/Content/Bowers/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/Bowers/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/Bowers/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/Content/Bowers/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/Content/Bowers/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/Content/Plugins/iCheck/all.css">
    <link rel="stylesheet" href="/Content/Bowers/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="/Content/Plugins/timepicker/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="/Content/Bowers/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/Content/Admins/Css/AdminLTE.css">
    <link rel="stylesheet" href="/Content/Admins/Css/Skins/_all-skins.min.css">
    <link rel="stylesheet" href="/Content/Css/Giant.css">
    <script src="/Content/Bowers/jquery/dist/jquery.min.js"></script>
    <script src="/Content/Bowers/jquery-ui/jquery-ui.min.js"></script>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/Content/External/google-fonts.css">
</head>
<body class="hold-transition skin-blue fixed sidebar-mini-expand-feature">
<div class="wrapper">

<header class="main-header">
    <a href="/" class="logo">
        <span class="logo-mini">menu</span>
        <span class="logo-lg">ADMINS</span>
    </a>

    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            @{
                Html.RenderPartial("Pages/Generic/Menu/_NavBarCustomMenu");
            }
        </div>
    </nav>
</header>

<aside class="main-sidebar">
    @{ Html.RenderPartial("Pages/Generic/Menu/_Menu", menus); }
</aside>

<div class="content-wrapper">
    @*Section Bread Crumb*@
    @*@Champs.BuildBreadCrumb()*@
    @*End Section*@
    <section class="content">
        @RenderPage("../Shared/Pages/Generic/Collapse/_SpinLoading.cshtml")
        <div class="row">
            <div id="nav_content_page" class="col-xs-12">
                <div class="nav-tabs-custom mainNav draggable-container">
                    <ul id="Ul_Tab_Nav" class="nav nav-tabs draggable draggable-center">
                        <li data-index="0" class="active">
                            <a href="#home" data-toggle="tab">
                                <i class="fa fa-home"></i>
                                Home
                            </a>
                        </li>
                    </ul>
                    <div id="Tab_Content_Page" class="tab-content">
                        <div class="tab-pane active" id="home">
                            @Champs.BuildBreadCrumb(Request[Input.MenuId], true)
                            <section class="content text-justify mainContent animated fadeIn" id="homeContent">
                                @RenderBody()
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.2
    </div>
    <p>&copy; @DateTime.Now.Year - Admins Application</p>
</footer>

@{
    Html.RenderPartial("Pages/Generic/Menu/_ControlSidebar");
}

</div>

<script src="/Content/Bowers/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Content/Bowers/select2/dist/js/select2.full.min.js"></script>
<script src="/Content/Plugins/input-mask/jquery.inputmask.js"></script>
<script src="/Content/Plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="/Content/Plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script src="/Content/Bowers/moment/min/moment.min.js"></script>
<script src="/Content/Bowers/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/Content/Bowers/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/Content/Bowers/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script src="/Content/Plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="/Content/Bowers/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/Content/Plugins/iCheck/icheck.min.js"></script>
<script src="/Content/Bowers/fastclick/lib/fastclick.js"></script>
<script src="/Content/Admins/Js/adminlte.min.js"></script>

<script src="/Content/Bowers/pace/pace.min.js"></script>
<script src="/Content/Bowers/less/less.min.js"></script>
@*<script src="/Content/Bowers/core/js/adminlte.min.js"></script>*@
<script src="/Content/Bowers/jquery-validate/jquery.validate.min.js"></script>
<script src="/Content/Bowers/jquery-validate/additional-methods.min.js"></script>
<script src="/Content/Bowers/jquery-validate/jquery-validate.bootstrap-tooltip.min.js"></script>
<script src="/Content/Bowers/autosize/autosize.min.js"></script>
@*<script src="/Content/Plugins/iCheck/icheck.min.js"></script>*@
@*<script src="/Content/Bowers/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>*@
@*<script src="/Content/Plugins/timepicker/bootstrap-timepicker.min.js"></script>*@
<script src="/Content/Bowers/jAlert/jquery.alerts.min.js"></script>
<script src="/Content/Bowers/animate/animate-dropdown.min.js"></script>
<script src="/Content/Bowers/dycms/js/dycms-tabs.js"></script>
<script src="/Content/Bowers/dycms/js/dycms-storage.js"></script>
<script src="/Content/Bowers/dycms/js/dycms.js"></script>

<script src="/Scripts/notify.js"></script>
<script src="/Scripts/spin.js"></script>
<script src="/Scripts/JsReady.js"></script>
<script src="/Scripts/Traitements.js"></script>

<script>
    $(function () {
       //Show Loader if Refresh Browser
       $(".windowloader").fadeOut("slow");

    })
</script>

</body>

</html>