@using Admins.Traitements.Generic.Html
@using Admins.Traitements.Generic.Util
@using Admins.Traitements.Models.Generator
@model Admins.Traitements.Models.Generator.PropertieViewModel
@{
    //var fields = BaseFieldsProvider.GetBaseFields(Model.Id);
}
<div class="row @*data-class*@">
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Fields</h3>
            </div>
            <div class="box-body box-fields no-padding">
                <ul class="nav nav-pills nav-stacked">
                @foreach (var propertie in Model.Properties)
                {
                    var active = Equals(propertie.Id, Request[Input.IdName]) ? "class=\"active\"" : string.Empty;
                    <li @active> <a href="@PropertieViewModel.Url(Request.Url?.ToString(), propertie.Id)">@propertie.PropertieName</a> </li>
                }
                </ul>
            </div>
        </div>
    </div>

    <form action="@Model.UrlAction" method="@Model.MethodAction" role="form">
        <div class="col-md-9">
            <div class="box box-primary form-horizontal">
                <div class="box-header with-border">
                    <h3 class="box-title">Properties</h3>
                    <div class="box-tools pull-right">
                        <button onclick="" type="submit" data-toggle="modal" data-target="#modal-forms" class="btn btn-success btn-xs btn-toolbar">@Model.BtnText</button>
                        @if (Model.Update)
                        {
                            @Html.Raw(HtmlUtil.A(Model.BtnTextNouveau, Use.UrlForm(Model.Objet.GetType(), null, Model.CurrentMenus), "btn btn-xs btn-success"))
                        }
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-8">
                            @Html.AntiForgeryToken()
                            @Champs.Build(Model.Objet, Model.Update)
                            @Html.Raw(Input.Build("hidden", Input.UrlNameApres, Model.UrlAfter))
                            @Html.Raw(Input.Build("hidden", Input.BoxNameTitle, Model.BoxTitle))
                            @Html.Raw(Input.Build("hidden", Input.BoxNameButton, Model.BtnText))
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </form>
</div>
