<div class="error-page">
    <h2 class="headline text-yellow" style="margin-top: -25px; margin-bottom: 0"> 404</h2>
    <div class="error-content"><h3><i class="fa fa-warning text-yellow"></i> Oups! Une erreur est survenue ...</h3>
        <p>Le syst&egrave;me ne peut pas trouver la page &agrave; laquelle vous acc&eacute;dez, veuillez contacter l'administrateur pour r&eacute;soudre ce probl&egrave;me.</p>
    </div>
</div>



