@using Admins.Traitements.Generic.Attributes
@using Admins.Traitements.Generic.Html
@using Admins.Traitements.Generic.Util
@model Admins.Traitements.Models.FormViewModel

<div class="box box-solid">
    <form action="@Model.UrlAction" method="@Model.MethodAction" role="form">
        <div class="box-header with-border">
            <h3 class="box-title btn-">@Model.BoxTitle</h3>
        </div>
        <div class="box-body">
            @Html.AntiForgeryToken()
            @Champs.Build(Model.Objet, Model.Update)
            @Html.Raw(Input.Build("hidden", Input.UrlNameApres, Model.UrlAfter))
            @Html.Raw(Input.Build("hidden", Input.BoxNameTitle, Model.BoxTitle))
            @Html.Raw(Input.Build("hidden", Input.BoxNameButton, Model.BtnText))
        </div>
        <div class="box-footer">
            @Html.Raw(Boutton.Build(Champ.Submit, Model.BtnText, Model.BtnClCss))
            @if (Model.Update)
            {
                @Html.Raw(HtmlUtil.A(Model.BtnTextNouveau, Use.UrlForm(Model.Objet.GetType(), null, Model.CurrentMenus), "btn btn-xs btn-success"))
            }
        </div>
    </form>
</div>