/*! Copyright (c) 2018 Abu Dzakiyyah (https://abu.dzakiyyah.com)
 * Licensed under the MIT (http://www.opensource.org/licenses/mit-license.php)
 *
 * Version: 1.2
 *
 */

.content-wrapper>.content{
    padding: 5px;
}

.content-wrapper .content{
  min-height: 1px;
}

.mainNav{
  margin-bottom: 0 !important;
  background: #ecf0f5;
}
.mainNav>ul.nav{
  border-top-right-radius:0;
  border-top-left-radius:0;
  display: flex;
  flex-flow: row nowrap;
  border-bottom-color: #d2d2d2;
}

.mainNav>ul.nav>li:first-child{
  margin-left: 1px;
}

.mainNav>ul.nav>li{
  margin-right: 1px;
  white-space: nowrap;
}

.mainNav>ul.nav>li:first-child>a{
  padding: 5px 8px 5px 8px;
}

.mainNav>ul.nav>li.active:first-child>a{
  border-left-color:#d2d2d2;
}

.mainNav>ul.nav>li>a{
  padding: 5px 17px 5px 8px;
  color: #c7c7c7;
  max-width: 170px;
  overflow:  hidden;
  text-overflow:  ellipsis;
}

.mainNav>ul.nav>li:not(.active)>a:hover{
  background-color: #d2d2d2;
  color: #fff;
  text-shadow: 1px 1px 1px #575757;
}

.mainNav>ul.nav>li.active{
  margin-bottom: -1px;
}

.mainNav>ul.nav>li.active>a{
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
}

.mainNav>ul.nav>li:not(.active)>a:hover>span.closeTab{
    color: #fff;
    text-shadow: none;
}

.mainNav>ul.nav>li>a>span.closeTab{
    top:1px;
    right:4px;
    position:absolute;
    cursor:pointer;
    color: #d2d2d2;
    font-size: 10px;
}

.mainNav>ul.nav>li>a>span.closeTab:hover>i:before{
    content: "\f057";
    top:-1px;
    right:-2px;
    position:absolute;
    cursor:pointer;
    color: red;
    font-size: 15px;
}

.mainNav>div.tab-content{
  padding: 0;
}

.mainContent{
  padding: 5px 7px 0 7px;
  background: #f7f8f9;
  border-radius: 5px;
}

ul.sidebar-menu>li.treeview>a,
ul.treeview-menu>li>a.subMenu{
  cursor: pointer;
}

.treeview>a{
    padding-right: 30px !important;
    max-width: 233px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subMenu{
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.content-header{
  padding:8px;
}

section.content-header .breadcrumb{
  top:0;
}

.main-footer{
  padding:7px;
}

ol.breadcrumb{
  right:0 !important;
  padding-right:0 !important;
}

@media (min-width:992px) {
  .mainContent>.row>[class*="col-"]{
    padding-left: 5px;
    padding-right: 5px;
  }

  .mainContent>.row>[class*="col-"]:first-child{
    padding-left: 15px;
    padding-right: 5px;
  }

  .mainContent>.row>[class*="col-"]:last-child{
    padding-left: 5px;
    padding-right: 15px;
  }

  .mainContent>.row>[class*="col-"]:only-child{
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mainContent>.row>[class*="col-"]>.box,
.mainContent>.row>[class*="col-"]>.nav-tabs-custom
{
    margin-bottom:10px;
}

.box{
  -webkit-box-shadow: 0 0 1px 1px rgba(209,209,209,1);
  -moz-box-shadow: 0 0 1px 1px rgba(209,209,209,1);
  box-shadow: 0 0 1px 1px rgba(209,209,209,1);
}

.windowloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../../../assets/images/loader.gif') 50% 50% no-repeat #fff;
}

.dropdown-menu{
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176) !important;
}

/*Color Scheme*/
.color-animate{
    color: inherit;
    -webkit-animation: hue 15s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.tb-skin{
    width: 100%;
    height: 100%;
}

.tb-skin td{
    border:1px solid #e6e6e6;
    background-color: rgba(0,0,0,0.6);
    position:relative;
}

.tb-skin td img{
    padding:1px;
}

.tb-skin td:after{
    content:'\A';
    position:absolute;
    width: 57px;
    height: 27px;
    top:1px; left:1px;
    background:rgba(0,0,0,0.6);
    opacity:1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.tb-skin td:hover:after{
    opacity:0;
}

.tb-skin td{
    cursor: pointer;
}

/*Skin Blue*/
.skin-blue .mainNav>ul.nav>li.active,
.skin-blue-light .mainNav>ul.nav>li.active
{
    border-top-color: #3c8dbc;
}
.skin-blue li.treeview>a:hover,
.skin-blue li.treeview.menu-open>a,
.skin-blue-light li.treeview>a:hover,
.skin-blue-light li.treeview.menu-open>a{
    border-left-color: #3c8dbc;
}

.skin-blue-light li.treeview.menu-open>ul.treeview-menu>li>a.subMenu:hover,
.skin-blue li.treeview.menu-open>ul.treeview-menu>li>a.subMenu:hover
{
    color: #3c8dbc;
}

/*Skin Black*/
.skin-black .mainNav>ul.nav>li.active,
.skin-black-light .mainNav>ul.nav>li.active{
    border-top-color: #000000;
}
.skin-black li.treeview>a:hover,
.skin-black li.treeview.menu-open>a{
    border-left-color: #ffffff;
}
.skin-black-light li.treeview>a:hover,
.skin-black-light li.treeview.menu-open>a{
    border-left-color: #000000;
}

/*Skin Purple*/
.skin-purple .mainNav>ul.nav>li.active,
.skin-purple-light .mainNav>ul.nav>li.active{
    border-top-color: #555299;
}
.skin-purple li.treeview>a:hover,
.skin-purple li.treeview.menu-open>a,
.skin-purple-light li.treeview>a:hover,
.skin-purple-light li.treeview.menu-open>a{
    border-left-color: #555299;
}

.skin-purple-light li.treeview.menu-open>ul.treeview-menu>li>a.subMenu:hover,
.skin-purple li.treeview.menu-open>ul.treeview-menu>li>a.subMenu:hover{
    color: #555299;
}

/*Skin Green*/
.skin-green .mainNav>ul.nav>li.active,
.skin-green-light .mainNav>ul.nav>li.active {
    border-top-color: #008d4c;
}
.skin-green li.treeview>a:hover,
.skin-green li.treeview.menu-open>a,
.skin-green-light li.treeview>a:hover,
.skin-green-light li.treeview.menu-open>a{
    border-left-color: #008d4c;
}

.skin-green-light li.treeview.menu-open>ul.treeview-menu>li>a.subMenu:hover,
.skin-green li.treeview.menu-open>ul.treeview-menu>li>a.subMenu:hover{
    color: #008d4c;
}

/*Skin Red*/
.skin-red .mainNav>ul.nav>li.active,
.skin-red-light .mainNav>ul.nav>li.active{
    border-top-color: #d73925;
}
.skin-red li.treeview>a:hover,
.skin-red li.treeview.menu-open>a,
.skin-red-light li.treeview>a:hover,
.skin-red-light li.treeview.menu-open>a{
    border-left-color: #d73925;
}

.skin-red-light li.treeview.menu-open>ul.treeview-menu>li>a.subMenu:hover,
.skin-red li.treeview.menu-open>ul.treeview-menu>li>a.subMenu:hover{
    color: #d73925;
}

/*Skin Yellow*/
.skin-yellow .mainNav>ul.nav>li.active,
.skin-yellow-light .mainNav>ul.nav>li.active{
    border-top-color: #e08e0b;
}
.skin-yellow li.treeview>a:hover,
.skin-yellow li.treeview.menu-open>a,
.skin-yellow-light li.treeview>a:hover,
.skin-yellow-light li.treeview.menu-open>a{
    border-left-color: #e08e0b;
}

.skin-yellow li.treeview.menu-open>ul.treeview-menu>li>a.subMenu:hover,
.skin-yellow-light li.treeview.menu-open>ul.treeview-menu>li>a.subMenu:hover
{
    color: #e08e0b;
}

/*JqueryValidationError*/
.error {
    border: 1px solid #dd4b39!important;
    background-color: #fee;
}

/*BS Tooltip Error*/
.error + .tooltip>.tooltip-arrow{
    border-top-color:#dd4b39;
    border-bottom-color: #dd4b39;
}

.error + .tooltip>.tooltip-inner
{
    background-color: #dd4b39;
}

.error>.selection>.select2-selection{
    background-color: #fee;
}

/*Select2*/
.select2:not(.error) .select2-selection--single:focus,
.select2.select2-container--open:not(.error) .select2-selection--single{
    border-color: #3c8dbc !important;
}

.select2-dropdown{
    border-left-color: #3c8dbc !important;
    border-bottom-color: #3c8dbc !important;
    border-right-color: #3c8dbc !important;
}


/*Sidebar*/
.sidebar-menu li>a>.pull-right-container>.fa-angle-left{
    -webkit-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}
