@using Admins.Traitements.Generic.Html
@using Admins.Traitements.Generic.Util
@model List<Admins.Traitements.Generic.Base.BaseModel>
@{
    var button = Boutton.Build("submit", "Valider", "btn btn-default");
    var daty = !string.IsNullOrEmpty(Request.QueryString[Input.DateName]) ? Request.QueryString[Input.DateName] : DateTime.Now.ToString("yyyy-MM-dd");
    var semaine = new Semaine(Convert.ToDateTime(daty));
}
<div class="row">
    <div class="box">
        <div class="col-md-4">
            <form action="@Url.Action("EtatPointage", "Home")" method="get">
                <div class="box-body">
                    @Html.Raw(Input.BuildWithBtn("date", Input.DateName, daty, button, "Semaine de pointage", null, Use.ClFormControl, null, true))
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Etat pointages : <label>@semaine.Dimanche.ToString("D") au @semaine.Samedi.ToString("D")</label></h3>
            </div>
            <div class="box-body">
                @Table.GetTable(Model)
            </div>
            <div class="box-footer clearfix">
            </div>
        </div>
    </div>
</div>
