@using Admins.Traitements.Generic.Html
@model Admins.Traitements.Models.FormViewModel

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="box box-primary">
            @using (Html.BeginForm("DoImport", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
            {
                <div class="box-header with-border">
                    <h3 class="box-title">@Model.BoxTitle</h3>
                    <p style="color: red;">@Html.Raw(Model.ErrorMessage)</p>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="InputFile">Fichier de pointages</label>
                        <input name="@Input.FileName" class="btn btn-default form-control" type="file" id="InputFile">
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">@Model.BtnText</button>
                </div>
            }
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>