﻿@using Admins.Models.Gestions.ViewData
@using Admins.Traitements.Generic.Base
@model Admins.Models.Gestions.ViewModel.PointagesViewModel
@{
    var listes = Model.LPointages;
    var button = Boutton.Build("submit", "Valider", "btn btn-default");
    var daty = !string.IsNullOrEmpty(Request.QueryString[Input.DateName]) ? Request.QueryString[Input.DateName] : DateTime.Now.ToString("yyyy-MM-dd");
    var semaine = new Semaine(Convert.ToDateTime(daty));
}
<div class="row">
    <div class="box">
        <div class="col-md-4">
            <form action="@Url.Action("Index", "Home")" method="get">
                <div class="box-body">
                    @Html.Raw(Input.BuildWithBtn("date", Input.DateName, daty, button, "Semaine de pointage", $"ID_{Input.DateName}"))
                </div>
            </form>
        </div>
        <div style="text-align: center;" class="col-md-8">
            <h5>@semaine.Dimanche.ToString("D") au @semaine.Samedi.ToString("D")</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <form action="@Url.Action("Pointer", "Home")" method="post" role="form">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste Employ&eacute;e</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">

                        @Table.GetHead(new ViewPointages())
                        
                        @foreach (var model in listes)
                        {
                            var infos = model.Properties();
                            <tr>
                                @foreach (var info in infos)
                                {
                                    if (BaseModel.Hide(info))
                                    {
                                        continue;
                                    }
                                    var name = $"{info.Name}{model["IdPointage"]}";

                                    if (info.Name.Equals("Nom"))
                                    {
                                        <td>@info.GetValue(model)</td>
                                    }
                                    else
                                    {
                                        <td> <input type="text" name="@name" value="@info.GetValue(model)" class="form-control"> </td>
                                    }
                                }
                            </tr>
                        }
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <button type="submit" class="btn btn-primary pull-right">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>
