@using Admins.Traitements.Generic.Html
@using Admins.Traitements.Generic.Util
@model Admins.Models.Budget.Model.StateTableViewModel
@{
    var button = Boutton.Build("submit", "Chercher", "btn btn-default");
    var daty = Model.Date.ToString("yyyy-MM-dd");
    var semaine = new Semaine(Convert.ToDateTime(daty));
}

<div class="row">
    <div class="box">
        <div class="col-lg-4">
            <form action="@Url.Action("StateTableAnnuel", "Budget")" method="get">
                <div class="box-body">
                    @Html.Raw(Input.BuildWithBtn("date", "date", daty, button, "Ann&eacute;e"))
                </div>
            </form>
        </div>
        <div style="text-align: center;" class="col-lg-8">
            <h2>Ann&eacute;e: @DateTime.Now.Year</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.BoxTitle</h3>
            </div>
            <div class="box-body table-overflow-x table-responsive no-padding">
                @Table.GetTable(Model.Modeles, Model.IsChoix)
            </div>
            @*
                <div class="box-footer table-condensed clearfix">
                </div>
            *@
        </div>
    </div>
</div>