@using Admins.Traitements.Generic.Html
@using Admins.Traitements.Generic.Util
@model Admins.Models.Budget.Model.StateChartViewModel
@{
    var types = Model.TypeDepenses;
    var button = Boutton.Build("submit", "Chercher", "btn btn-default");
    var daty = Model.Date.ToString("yyyy-MM-dd");
    var semaine = new Semaine(Convert.ToDateTime(daty));
}
<link rel="stylesheet" href="/Content/Plugins/iChart/Chart.min.css">
<div class="row">
    <div class="box">
        <div class="col-md-4">
            <form action="@Url.Action("StateChart", "Budget")" method="get">
                <div class="box-body">
                    @Html.Raw(Input.BuildWithBtn("date", "date", daty, button, "Semaine De :"))
                </div>
            </form>
        </div>
        <div style="text-align: center;" class="col-md-8">
            <h5>@semaine.Dimanche.ToString("D") au @semaine.Samedi.ToString("D")</h5>
        </div>
    </div>
</div>
<div class="row">
    <section class="col-lg-12 connectedSortable">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li class="active">
                    <a href="#@Model.Global.Id" data-toggle="tab">@Model.Global.Designation</a>
                </li>
                @foreach (var type in types)
                {
                    <li>
                        <a href="#@type.Id" data-toggle="tab">@type.Designation</a>
                    </li>
                }
                <li class="pull-left header"><i class="fa fa-bar-chart"></i> :</li>
            </ul>
            <div class="tab-content">
                <div class="chart tab-pane active" id="@Model.Global.Id" style="min-height: 560px; position: relative;">
                    <canvas id="@Model.Global.IdChart(Model.Global.Id)"></canvas>
                    <hr/>
                    <div id="TOTAL_@Model.Global.IdChart(Model.Global.Id)" class="text-center">
                        @*Total Data*@
                    </div>
                </div>
                @foreach (var type in types)
                {
                    <div class="chart tab-pane" id="@type.Id" style="height: 560px; position: relative;">
                        <canvas id="@type.IdChart(type.Id)"></canvas>
                        <hr/>
                        <div id="TOTAL_@type.IdChart(type.Id)" class="text-center">
                            @*Total Data*@
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>


<script src="/Content/Plugins/iChart/Chart.min.js"></script>
<script>
    function SetChart(chartId, typeId) {
        $.ajax({
            url: '@Url.Action("JsonState", "Budget")',
            data:"typeId="+typeId+"&date=@daty",
            success:function(result) {
                $("#TOTAL_" + chartId).html("<strong>Total : "+result.data.total+"</strong>");
                let myChart = new Chart($('#'+chartId), result);
            }
        });
    }
    
    function SetGlobalChart(chartId) {
        $.ajax({
            url: '@Url.Action("JsonGlobalState", "Budget")',
            data:"date=@daty",
            success:function(result) {
                $("#TOTAL_" + chartId).html("<strong>Total : "+result.data.total+"</strong>");
                let myChart = new Chart($('#'+chartId), result);
            }
        }); 
    }
    
    $(document).ready(function() {
    @foreach (var type in Model.TypeDepenses)
    {
        <text>SetChart('@type.IdChart(type.Id)', '@type.Id');</text>
    }
        SetGlobalChart('@Model.Global.IdChart(Model.Global.Id)');
    });
</script>