@model HtmlString
<section class="sidebar">
    @*<div class="user-panel">
        <div class="pull-left image">
            <img src="/Content/Images/Utilisateur/@user.ImagePath" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>@user.Prenom</p>
            <a href="@Url.Action("Index", "Admins")"><i class="fa fa-circle text-success"></i> En ligne</a>
        </div>
    </div>*@
    
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input class="form-control" name="q" placeholder="Search..." type="text">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    
    <ul class="sidebar-menu" data-widget="tree">
        @*<li class="header">MENUS</li>*@
        @Model
    </ul>
</section>