﻿@model string
<div style="text-align: center; padding-top: 100px;" class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Message D'Erreur</h3>
            </div>
            <div class="box-body">
                <h3 style="color: red;">@Model</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>

