@model Admins.Traitements.Models.FormViewModel

<div class="row">
    <div class="col-lg-4 col-sm-3 col-md-4 col-xs-2">
    </div>
    <div  id="formId" class="col-lg-4 col-sm-6 col-md-5 col-xs-8">
        @RenderPage("Forms/_FormsBox.cshtml")
    </div>
    <div class="col-lg-4 col-sm-3 col-md-3 col-xs-2">
    </div>
</div>


<script>
    $(document).ready(function() {
        $.notify("@Html.Raw(Model.ErrorMessage)", { position:"top center", className:"error"});
        $.notify("@Html.Raw(Model.SuccessMessage)", { position:"top center", className:"success"});
    });
</script>

@RenderPage("Collapse/_ModalListe.cshtml")