@using Admins.Traitements.Generic.Html
@using Admins.Traitements.Generic.Util
@model Admins.Traitements.Models.ListViewModel

@{
    var form = Champs.BuildSearch(Model.SearchModel);
    var urlForm = Use.UrlPageForm(Model.BaseModelForms, string.Empty);

    var paginaiton = Table.Pagination(Model.TypeModel, Model.PageIndex, Model.MaxItems, Model.TotalItems, Model.InPage);
    var urlRefresh = Model.InPage ? Use.UrlPageListes(Model.TypeModel) : Use.Scarp;
    var onClikRefresh = !Model.InPage ? Attr.KeyValue("onclick", Use.FuncPagingListeView(Use.UrlListesView(Model.TypeModel))) : string.Empty;
}

<form id="@Model.TypeModel.Name" action="@form.Action" method="@form.Method" role="form">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Rechercher parmis les champs : </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    @Html.Raw(form.InnerHtml)
                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-md-9 col-xs-9 col-sm-8 col-lg-10">
                            @if (Model.InPage)
                            {
                                @Html.Raw(form.DefaultButton)
                            }
                            else
                            {
                                var onClikSearch = Attr.KeyValue("onclick", Use.FuncPagingSearchListeView(Use.URLListesView, Model.TypeModel.Name));
                                @Html.Raw(HtmlUtil.A("Rechercher", urlRefresh, "btn btn-sm btn-primary btn-flat pull-left", onClikSearch))
                            }
                        </div>
                        <div class="col-md-3 col-xs-3 col-sm-4 col-lg-2 form-horizontal no-padding">
                            @Champs.ChampsItemsToShow(Model.MaxItems)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">@Model.BoxTitle</h3>
                <div class="box-tools pull-right">
                    <button onclick="__RequestFormsPage('@urlForm')" type="button" data-toggle="modal" data-target="#modal-forms" class="btn btn-xs btn-toolbar">
                        <i class="fa fa-plus-square"> Nouv.</i>
                    </button>
                </div>
            </div>
            <div class="box-body table-overflow-x table-responsive no-padding">
                @Table.GetTable(Model.Modeles, Model.IsChoix, "table table-responsive")
            </div>
            
            <div class="box-footer table-condensed clearfix">
                @if (!string.IsNullOrEmpty(paginaiton))
                {
                    @Html.Raw(paginaiton)
                }

                @Html.Raw(HtmlUtil.A("Actualiser", urlRefresh, "btn btn-sm btn-default btn-flat pull-left", onClikRefresh))
            </div>
        </div>
    </div>
</div>

@RenderPage("Collapse/_ModalListe.cshtml")
@RenderPage("Collapse/_ModalForms.cshtml")