@using Admins.Traitements.Generic.Html
@using Admins.Traitements.Generic.Util
@model Admins.Traitements.Models.PreviewViewModel

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="box box-widget">
            <div class="box-header">
                <p class="lead">@Model.TitleDetails</p>
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <p style="text-align: center" class="text-red">@Model.ErrorMessage</p>
                }
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box-body">
                <div class="table-responsive">
                    @Previews.SimplePreview(Model.BaseModel)
                </div>
            </div>
            <div class="box-footer clearfix">
                @if (Model.BaseModel.IsEditable())
                {
                    <a href="@Use.UrlForm(Model.BaseModel.TypeEditable(), Model.BaseModel.Id)" class="btn btn-sm btn-info btn-flat"><i class="fa fa-pencil"></i></a>
                }
                @if (Model.BaseModel.IsDeletable())
                {
                    <a href="@Use.UrlDelete(Model.BaseModel.TypeDeletable(), Model.BaseModel.Id)" class="btn btn-sm btn-danger btn-flat"><i class="fa fa-trash"></i></a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
