@*Generer l'Id="modal-forms" dans la base model - pour eviter les confrontation avec les autres models. *@

<div class="modal fade" id="modal-forms" tabindex="-1" role="dialog" aria-labelledby="center-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div id="forms" class="col-md-8">

                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>