<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Choisir parmis la liste.</h4>
            </div>
            <div id="liste" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fermer</button>
                <button type="button" onclick="SetValue()" class="btn btn-primary pull-right" data-dismiss="modal">Terminer</button>
            </div>
        </div>
    </div>
</div>