@model Admins.Traitements.Generic.Admins.Json.TabNavigationJsonInfo

@{
    var isActive = Equals(Model.TabStatus, Use.ClActive);
    var reload = isActive ? string.Empty : Use.ClReload;
    var active = isActive ? Use.ClActive : string.Empty;
            
    <div class="tab-pane @active" id="@Model.TabId">
        @Champs.BuildBreadCrumb(Request[Input.MenuId], true)
        <section class="content text-justify mainContent animated fadeIn @reload" id="@Model.TabIdContent">
            @if (!isActive)
            {
                <div class="error-page">
                    <div class="error-content text-center" style="margin-left: 0;">
                        <h3><i class="fa fa-Model-circle text-primary"></i> Mode &eacute;conomie de place</h3>
                        <p>
                            Appuyez sur le bouton de rechargement pour charger la page.<br><br>
                            <button class="btn btn-primary" onclick="reloadContent('@Model.TabId', '@Model.TabUrl')" data-toggle="tooltip" title="Appuyez ici recharger la page" data-container=".tab-content">
                                <i class="fa fa-spinner fa-spin"></i>
                                Reload
                            </button>
                        </p>
                    </div>
                </div>
            }
            else if(!Equals(Model.TabId, Use.HomeID))
            {
                <h2 style="text-align: center;">Chargemnt du contenu....</h2>
            }
        </section>
    </div>
}