@model Admins.Traitements.Generic.Admins.Json.TabNavigationJsonInfo
@{
    var active = Equals(Model.TabStatus, Use.ClActive) ? Use.ClActive : string.Empty;
    <li id="Li_Nav_@Model.TabId" data-index="@Model.TabIndex" class="@active">
        <a href="#@Model.TabId" data-toggle="tab" title="@Model.TabDesc">
            <i class="@Model.TabIcon"></i>
            @Model.TabTitle
            @if (!Equals(Model.TabId, "home"))
            {
                <span onclick="closeTab('@Model.TabId', 'Li_Nav_@Model.TabId')" class="closeTab" title="Close">
                    <i class="fa fa-times"></i>
                </span>  
            }
        </a>
    </li>
}