@using Admins.Traitements.Generic.Admins.Json

@model TabNavigationJsonInfo[]

<div class="nav-tabs-custom mainNav draggable-container">
    <ul id="Ul_Tab_Nav" class="nav nav-tabs">
        @foreach (var info in Model)
        {
            Html.RenderPartial("~/Views/Shared/Pages/Generic/Collapse/_NavTabHeader.cshtml", info);
        }
    </ul>
    <div id="Tab_Content_Page" class="tab-content">
        @foreach (var info in Model)
        {
            Html.RenderPartial("~/Views/Shared/Pages/Generic/Collapse/_NavTabContent.cshtml", info);
        }
    </div>
</div>