<div class="modal" id="modal-spinner">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="spin-load" class="modal-body">
            </div>
        </div>
    </div>
</div>

