@model object
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Identification | Admins Application</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/Content/Bowers/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/Bowers/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/Bowers/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/Content/Css/Giant.css">
    <link rel="stylesheet" href="/Content/Admins/Css/AdminLTE.css">
    <link rel="stylesheet" href="/Content/Plugins/iCheck/all.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/Content/External/google-fonts.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Admins</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Identification - Admins</p>
        <p class="login-box-msg text-red">@ViewBag.ErreurLogin</p>
        <form action="@Url.Action("Utilisateur", "Account")" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                <label for="email">Adresse E-mail</label>
                <input id="email" type="email" name="Email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group has-feedback">
                <label for="pass">Mots de passe</label>
                <input id="pass" type="password" name="Pass" class="form-control" placeholder="Password">
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Se connecter</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/Content/Bowers/jquery/dist/jquery.min.js"></script>
<script src="/Content/Bowers/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Content/Plugins/iCheck/icheck.min.js"></script>

<script>
    $(function() {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '15%' /* optional */
        });
    });
</script>
</body>
</html>