.select2, #modal-default>.modal-dialog {
    width: 100% !important;
}

/* Important part */
#modal-default>.modal-dialog {
    overflow-y: initial !important
}
#modal-default>.modal-dialog>.modal-content>.modal-body{
    height: 500px;
    overflow-y: auto;
}

.table-overflow-x{
    overflow-x: auto;
}

.table-td-action{
    width: 10px;
}

.action-margin{
    margin-left: 8px;
}

input[type=date].form-control,
input[type=datetime-local].form-control,
input[type=month].form-control,
input[type=time].form-control {
    line-height: normal !important;
}

label{
    font-weight: 600;
    color: #3c8dbc;
    margin-bottom: 1px;
}

.box-fields {
    min-height: 300px !important;
}

.data-class input{
    max-width: 230px;
}

/* Modal spinner*/
#modal-spinner>.modal {
    background: rgba(0, 0, 0, 0.6) !important;
}

#modal-spinner>.modal-dialog>.modal-content>.modal-body{
    padding: 0 !important;
    margin-top: 49%;
}

#modal-forms>.modal-content {
    min-height: 500px !important;
    overflow: auto;
    width: 600px !important;
}